<div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <ul style="list-style-type:none; height:340px;" class="font-p  font-weight-bold border-right">
                    <li class="my-3"><a href="{% url 'dashboard' %}" class="text-dark"><i class="fas fa-users mr-3 text-danger"></i>Users</a><li>
                    <li class="my-3"><a href="{% url 'adminbookcategory' %}" class="text-dark"><i class="fas fa-swatchbook mr-3 text-danger"></i>Book Category</a><li>
                    <li class="my-3"><a href="{% url 'availablebook' %}" class="text-dark"><i class="fas fa-book mr-3 text-danger"></i>Available Books</a><li>
                    <li class="my-3"><a href="{% url 'showbook' %}" class="text-dark"><i class="fas fa-shopping-cart mr-3 text-danger"></i>Requests</a><li>
                </ul>
            </div>
        
    